# PyCity Schools Analysis

- Your analysis here
  
---

In [30]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [31]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].value_counts())
school_count

15

In [32]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [33]:
# Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [34]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [35]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [36]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [37]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [38]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [39]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_data = [{
                    "Total Schools": school_count,
                    "Total Students" : student_count,
                    "Total Budget": total_budget,
                    "Average Math Score" : average_math_score,
                    "Average Reading Score" : average_reading_score,
                    "% Passing Math" : passing_math_percentage,
                    "% Passing Reading": passing_reading_percentage,
                    "% Overall Passing" : overall_passing_rate
                }]

district_summary = pd.DataFrame(district_data)
district_summary

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [40]:
# Use the code provided to select all of the school types
groupbySchool = school_data_complete.groupby(["School ID","school_name"])
school_types = pd.DataFrame((groupbySchool["type"].unique()))

school_types["type"] = school_types["type"].astype(str)

school_types

                                         type
School ID school_name
0         Huang High School      ['District']
1         Figueroa High School   ['District']
2         Shelton High School     ['Charter']
3         Hernandez High School  ['District']
4         Griffin High School     ['Charter']
5         Wilson High School      ['Charter']
6         Cabrera High School     ['Charter']
7         Bailey High School     ['District']
8         Holden High School      ['Charter']
9         Pena High School        ['Charter']
10        Wright High School      ['Charter']
11        Rodriguez High School  ['District']
12        Johnson High School    ['District']
13        Ford High School       ['District']
14        Thomas High School      ['Charter']

In [41]:
# Calculate the total student count per school

per_school_counts =  pd.DataFrame(groupbySchool["size"].unique())
per_school_counts

                                   size
School ID school_name
0         Huang High School      [2917]
1         Figueroa High School   [2949]
2         Shelton High School    [1761]
3         Hernandez High School  [4635]
4         Griffin High School    [1468]
5         Wilson High School     [2283]
6         Cabrera High School    [1858]
7         Bailey High School     [4976]
8         Holden High School      [427]
9         Pena High School        [962]
10        Wright High School     [1800]
11        Rodriguez High School  [3999]
12        Johnson High School    [4761]
13        Ford High School       [2739]
14        Thomas High School     [1635]

In [42]:
# Calculate the total school budget and per capita spending per school
per_school_budget = pd.DataFrame(groupbySchool["budget"].unique())
per_school_budget


per_school_capita["per capita"] = per_school_budget["budget"]/per_school_counts["size"]

per_school_capita = pd.DataFrame(per_school_capita["per capita"])
per_school_capita

budget_and_capita = pd.merge(per_school_budget, per_school_capita, on = ["School ID", "school_name"])
budget_and_capita

NameError: name 'per_school_capita' is not defined

In [ ]:
# Calculate the average test scores per school

mathPerc = groupbySchool["math_score"].mean()
per_school_math = pd.DataFrame(mathPerc)
per_school_math = per_school_math.rename(columns={"math_score" : "Average Math Score"})
per_school_math

readingPerc = groupbySchool["reading_score"].mean()
per_school_reading = pd.DataFrame(readingPerc)
per_school_reading = per_school_reading.rename(columns={"reading_score": "Average Reading Score"})
per_school_reading

math_and_reading_average = pd.merge(per_school_math,per_school_reading, on=["School ID", "school_name"] )
math_and_reading_average
# #per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
passing_math_bySchool = students_passing_math.groupby(["School ID", "school_name"])
school_students_passing_math = passing_math_bySchool["math_score"].size()
school_students_passing_math = pd.DataFrame(school_students_passing_math)
school_students_passing_math = school_students_passing_math.rename(columns={"math_score": "# of Students Passing Math"})
school_students_passing_math

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher

students_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
passing_reading_bySchool = students_passing_reading.groupby(["School ID", "school_name"])
school_students_passing_reading = passing_reading_bySchool["reading_score"].size()
school_students_passing_reading = pd.DataFrame(school_students_passing_reading)
school_students_passing_reading = school_students_passing_reading.rename(columns={"reading_score": "# of Students Passing Reading"})
school_students_passing_reading


# students_passing_reading = 
# school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["School ID","school_name"]).size()
school_students_passing_math_and_reading = pd.DataFrame(school_students_passing_math_and_reading)
school_students_passing_math_and_reading = school_students_passing_math_and_reading.rename(columns = {0: "# of students passing Math and Reading"})
school_students_passing_math_and_reading

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math["# of Students Passing Math"] / per_school_counts["size"] * 100
per_school_passing_math = pd.DataFrame(per_school_passing_math)
per_school_passing_math = per_school_passing_math.rename(columns={0: "% Passing Math"})
per_school_passing_math


per_school_passing_reading = school_students_passing_reading["# of Students Passing Reading"] / per_school_counts["size"] * 100
per_school_passing_reading = pd.DataFrame(per_school_passing_reading)
per_school_passing_reading = per_school_passing_reading.rename(columns={0: "% Passing Reading"})
per_school_passing_reading

overall_passing_rate = school_students_passing_math_and_reading["# of students passing Math and Reading"] / per_school_counts["size"] * 100
overall_passing_rate = pd.DataFrame(overall_passing_rate)
overall_passing_rate = overall_passing_rate.rename(columns = {0: "% Overall Passing"})
overall_passing_rate

all_passing = pd.merge(per_school_passing_math,per_school_passing_reading, on=["School ID", "school_name"])
all_passing = pd.merge(all_passing, overall_passing_rate, on=["School ID", "school_name"])
all_passing

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# [[school_types["type"], per_school_counts["size"]]]
per_school_summary = pd.merge(school_types,per_school_counts, on=["School ID", "school_name"])
per_school_summary = pd.merge(per_school_summary, budget_and_capita, on=["School ID", "school_name"])
per_school_summary = pd.merge(per_school_summary, math_and_reading_average, on=["School ID", "school_name"])
per_school_summary = pd.merge(per_school_summary, all_passing, on=["School ID", "school_name"])
per_school_summary= per_school_summary.reset_index()
per_school_summary = per_school_summary.rename(columns = {"school_name": "School Name", "type": "School Type", "size": "Total Students", "budget" : "Total School Budget", "per capita" : "Per Student Budget"})
per_school_summary = per_school_summary.set_index("School Name")

per_school_summary = per_school_summary.drop(["School ID"], axis = 1)
per_school_summary = per_school_summary.astype({"Total Students": int, "Total School Budget": float,
                                                "Per Student Budget": float, "Average Math Score": float,
                                                "Average Reading Score": float, "% Passing Math": float,
                                                "% Passing Reading": float, "% Overall Passing": float}, errors = 'raise')


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary= per_school_summary.reset_index()



per_school_summary.style.hide_index()
# # Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by=["% Overall Passing"], ascending= False)
top_schools.head(5).style.hide_index()

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by=["% Overall Passing"])
bottom_schools.head(5).style.hide_index()

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
grouped_ninth = ninth_graders.groupby(["school_name"])
ninth_grade_math_score = pd.DataFrame(grouped_ninth["math_score"].mean())
ninth_grade_math_score = ninth_grade_math_score.rename(columns={"math_score": "9th Grade Math Avg"})

grouped_tenth = tenth_graders.groupby(["school_name"])
tenth_grade_math_score = pd.DataFrame(grouped_tenth["math_score"].mean())
tenth_grade_math_score = tenth_grade_math_score.rename(columns={"math_score": "10th Grade Math Avg"})

grouped_eleventh = eleventh_graders.groupby(["school_name"])
eleventh_grade_math_score = pd.DataFrame(grouped_eleventh["math_score"].mean())
eleventh_grade_math_score = eleventh_grade_math_score.rename(columns={"math_score": "11th Grade Math Avg"})

grouped_twelfth = twelfth_graders.groupby(["school_name"])
twelfth_grade_math_score = pd.DataFrame(grouped_twelfth["math_score"].mean())
twelfth_grade_math_score = twelfth_grade_math_score.rename(columns={"math_score": "12th Grade Math Avg"})

# # Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(ninth_grade_math_score,tenth_grade_math_score, on=["school_name"])
math_scores_by_grade = pd.merge(math_scores_by_grade,eleventh_grade_math_score, on=["school_name"])
math_scores_by_grade = pd.merge(math_scores_by_grade,twelfth_grade_math_score, on=["school_name"])


# # Minor data wrangling
math_scores_by_grade.index.name = None

# # Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
grouped_ninth = ninth_graders.groupby(["school_name"])
ninth_grade_reading_score = pd.DataFrame(grouped_ninth["reading_score"].mean())
ninth_grade_reading_score = ninth_grade_reading_score.rename(columns={"reading_score": "9th"})

grouped_tenth = tenth_graders.groupby(["school_name"])
tenth_grade_reading_score = pd.DataFrame(grouped_tenth["reading_score"].mean())
tenth_grade_reading_score = tenth_grade_reading_score.rename(columns={"reading_score": "10th"})

grouped_eleventh = eleventh_graders.groupby(["school_name"])
eleventh_grade_reading_score = pd.DataFrame(grouped_eleventh["reading_score"].mean())
eleventh_grade_reading_score = eleventh_grade_reading_score.rename(columns={"reading_score": "11th"})

grouped_twelfth = twelfth_graders.groupby(["school_name"])
twelfth_grade_reading_score = pd.DataFrame(grouped_twelfth["reading_score"].mean())
twelfth_grade_reading_score = twelfth_grade_reading_score.rename(columns={"reading_score": "12th"})
# ninth_grade_reading_scores = 
# tenth_grader_reading_scores = 
# eleventh_grader_reading_scores = 
# twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.merge(ninth_grade_reading_score,tenth_grade_reading_score, on=["school_name"])
reading_scores_by_grade = pd.merge(reading_scores_by_grade,eleventh_grade_reading_score, on=["school_name"])
reading_scores_by_grade = pd.merge(reading_scores_by_grade,twelfth_grade_reading_score, on=["school_name"])
# reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace('[\$,]', '', regex = True ).astype(float)
per_school_summary

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.concat([spending_math_scores,spending_reading_scores,spending_passing_math,
                              spending_passing_reading,overall_passing_spending], axis =1)

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.concat([
    size_math_scores, size_reading_scores, size_passing_math, size_passing_reading, size_overall_passing
], axis = 1)

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.


average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# # Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.concat([
    average_math_score_by_type, average_reading_score_by_type, average_percent_passing_math_by_type,
    average_percent_passing_reading_by_type, average_percent_overall_passing_by_type
], axis = 1) 

# # Display results
type_summary